<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="records"></div>
{% block content %}{% endblock %}
<script>
    const socket = new WebSocket('ws://localhost:8000/action/accessrecord/{{ buildingid }}/');
    socket.onopen = function (event) {
        console.log('WebSocket connection opened');
    };

    socket.onmessage = function (event) {
        const records = JSON.parse(event.data);
        const recordsElement = document.querySelector('.records');
        records.forEach(record => {
            const recordElement = document.createElement('div');
            recordElement.classList.add('record');
            recordElement.innerHTML = `
            <p>${record.user}</p>
            <p>${record.status}</p>
            <p>${record.building}</p>
            <p>${record.createdat}</p>
        `;
            recordsElement.appendChild(recordElement);
        });
    };

    socket.onclose = function (event) {
        console.log('WebSocket connection closed')
    };

    socket.onerror = function (error) {
        console.error('WebSocket error:', error);
    };


</script>
</body>
</html>