<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}{% endblock %}
<div class="records"></div>
<script>
    const socket = new WebSocket('ws://localhost:8000/action/accessrecord/{{ id }}');
    console.log(id)
    socket.onopen = function (event) {
        console.log('WebSocket connection opened');
        // 连接打开后，开始定时发送请求
        startInterval();
    };

    socket.onmessage = function (event) {
        const records = JSON.parse(event.data);
        const recordsElement = document.querySelector('.records');
        records.forEach(record => {
            const recordElement = document.createElement('div');
            recordElement.classList.add('record');
            console.log(record.user)
            console.log(record.building)
            console.log(record.createdat)
            console.log(record.status)
            recordElement.innerHTML = `
            <h3>${record.user}</h3>
            <p>${record.building}</p>
            <p>${record.createdat}</p>
            <p>${record.status}</p>
        `;
            recordsElement.appendChild(recordElement);
        });
    };

    socket.onclose = function (event) {
        console.log('WebSocket connection closed')
    };

    socket.onerror = function (error) {
        console.error('WebSocket error:', error);
    };

    // 定时发送请求的函数
    function startInterval() {
        const intervalId = setInterval(function () {
            socket.send(JSON.stringify({action: 'get_data'}));
        }, 2000); // 每2000毫秒发送一次请求
    }

</script>
</body>
</html>