{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for record in records %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <p>{{ record.user }}</p>
                            <p>{{ record.status }}</p>
                            <p>{{ record.building }}</p>
                            <p>{{ record.createdat }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
